{% extends "default.html" %} {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <p class="h1 text-center">Hello, Victoria!</p>
                <p class="text-center ">You have recently made a purchase in our store. Are you satisfied with the product? We ask you to leave a review about it, it will help other buyers to decide on the choice:</p>
                <div class="product-sm-wrapper">
                    {% for i in range(0,4) %}
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="product-sm-hor">
                                    <table class="product-sm-hor__list" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="100" class="product-sm-hor__col">
                                                    <div class="product-sm-hor__img">
                                                        <img src="images/temp/product-img-lg.jpg" alt="" />
                                                    </div>
                                                </td>
                                                <td class="product-sm-hor__col">
                                                    <p style="margin-bottom: 10px;">
                                                        <a href="#" class="product-sm-hor__title">
                                                        {% if loop.first %}
                                                            Philips Avent Via SCF612/10 Breast Milk Storage Container Set
                                                        {% else %}
                                                            Vikalex Lazzara stroller
                                                            {% endif %}
                                                        </a>
                                                    </p>
                                                    <p style="margin-bottom: 0;" class="">Article no.: <span class="color-dark">75920</span></p>
                                                    <p style="margin-bottom: 0;" class="">Manufacturer: <span class="color-dark">Italy</span></p>
                                                </td>
                                                <td width="160" class="product-sm-hor__col product-sm-hor__col--middle product-sm-hor__col--last">
                                                    {{ macro.btn({
                                                        class: 'btn-purple',
                                                        width: '160px',
                                                        text: 'Add a review'
                                                    }) }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% include "blocks/footer.html" %}
