{% extends "default.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td class="border-bottom">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="arial " align="left">
                                Dear, <span class="color-dark">David!</span>
                                <br /> Your order of 17.12.2013 has been accepted.
                            </td>
                            <td width="260" class="arial" align="right">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="arial" align="right">
                                                <a href="#">Join the community</a>
                                            </td>
                                            <td align="right">
                                                <a href="#"><img src="images/fb.png" height="36" width="37" alt=""></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom: 20px;" class="lead color-dark">Order no: 15896</p>
                <table class="subtable2" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="first" valign="top" width="420">
                                <a href="#">Stroller Baby Sage City Drive.</a>
                                <table align="top" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="" align="left">Color: white</td>
                                        </tr>
                                        <tr>
                                            <td class="" align="left">Size: 120*60</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="80" class="quantity">1 pc.</td>
                            <td width="140">20 000 </td>
                        </tr>
                        <tr>
                            <td class="first" width="420"><a href="#">Baby stroller Cite Drive</a></td>
                            <td width="80" class="quantity">1 pc.</td>
                            <td width="140">20 000 </td>
                        </tr>
                        <tr>
                            <td class="first" width="420"><a href="#">Baby stroller Cite Drive</a></td>
                            <td width="80" class="quantity">1 pc.</td>
                            <td width="140">$300</td>
                        </tr>
                    </tbody>
                </table>
                {{ macro.space('23') }}
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td align="left" width="200" class="lead color-dark">Shipping Costs:</td>
                            <td align="left" class="price color-blue">$30</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="5"></td>
                        </tr>
                        <tr>
                            <td align="left" width="200" class="lead color-dark">Cost of Ordering:</td>
                            <td align="left" class="price color-blue">$500</td>
                        </tr>
                    </tbody>
                </table>
                {{ macro.space('18') }}
                <table class="subtable3" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="first" width="140">Delivery method</td>
                            <td><span class="strong">Self-delivery</span></td>
                        </tr>
                        <tr>
                            <td class="first" width="140">Method of payment</td>
                            <td><span class="strong">Cash</span></td>
                        </tr>
                    </tbody>
                </table>
                {{ macro.space('18') }}
                <p style="margin-bottom: 10px;" class="lead color-dark">Your data</p>
                <table class="subtable3" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="first" width="140">Name</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td class="first" width="140">E-mail</td>
                            <td><a class="strong" target="_blank" href="mailto:mail@mail.com">mail@mail.com</a></td>
                        </tr>
                        <tr>
                            <td class="first" width="140">Phone</td>
                            <td><a class="strong" target="_blank" value="+375(29)768-23-12" href="#">+1 (29) 768-23-12</a></td>
                        </tr>
                        <tr>
                            <td class="first" width="140">Location</td>
                            <td>123</td>
                        </tr>
                        <tr>
                            <td class="first" width="140">Address</td>
                            <td>123</td>
                        </tr>
                    </tbody>
                </table>
                {{ macro.space('23') }}
                <p class="" style="margin: 0 0 16px 0;line-height: 18px;">Visit our <a href="#">community</a> where we are always in touch! Ready to help assemble a crib, answer questions about delivery times, stroller usage and more, join the community.</p>
                <div class="lead thanks color-dark" style="margin-top: 27px;margin-bottom: 5px;">Thank you for your purchase!</div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block footer %}
<table cellpadding="0" cellspacing="0" border="0" class="footer">
    <tbody>
        <tr>
            <td>
                {% include "blocks/footer-text.html" %}
                <p>The information in this letter is for reference only and does not constitute a public offer.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
