{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <table class="" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td>
                                <p><b class="color-dark" style="font-size: 16px;">Payment for Order No. 12589653</b></p>
                                Dear David!
                                <br /> You will be billed. After payment your order will be shipped. Thank you for choosing our store.
                                <br />
                                <br />
                                <span class="lead" style="font-size: 18px;color: #151734;">Amount due: </span><span class="price" style="padding-left: 10px;font-size: 24px;color: #007acf;font-weight: 300;">$600 </span>
                                <br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="table-box" style="border-collapse: collapse;border-spacing: 0;border: 1px solid #e5e3e3;">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="padding: 15px 20px;background-color: #f5f4f4;border: 1px solid #e5e3e3;text-align: left;font-size: 20px;color: #000;font-weight: 300;">Payment options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <table class="circle" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width: 83px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;background-color: #f9f9f9;border: none;border-bottom: none;vertical-align: middle;width: 83px;height: 83px;text-align: center;background: url(images/Layer-220.png) 0 0 no-repeat;"><img src="./images/atm.png" height="36" width="30" alt="" style="display: inline-block;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <div class="table-box__title" style="font-size: 20px;color: #000;padding-top: 8px;">ATM/online banking</div>
                                                <p style="margin: 0 0 8px 0;line-height: 18px;">Card requisites:
                                                    <br /> 5484 3800 1224 7482 &nbsp;&nbsp;&nbsp;&nbsp;K.Stivenson</p>
                                                <div class="table-box__opt" style="color: #08b16c;">Commission from 0%</div>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <table class="circle" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width: 83px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;background-color: #f9f9f9;border: none;border-bottom: none;vertical-align: middle;width: 83px;height: 83px;text-align: center;background: url(images/Layer-220.png) 0 0 no-repeat;"><img src="./images/visa-sm.png" height="19" width="63" alt="" style="display: inline-block;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <div class="table-box__title" style="font-size: 20px;color: #000;padding-top: 8px;">Visa/MasterCard</div>
                                                <p style="margin: 0 0 8px 0;line-height: 18px;">Payment by Visa plastic cards. Acceptance of payments is provided by OJSC Bank of US</p>
                                                <div class="table-box__opt" style="color: #08b16c;">Commission from 0%</div>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                {{ macro.btn({
                                                    class: 'btn-info btn-md',
                                                    width: '165px',
                                                    text: 'Pay'
                                                }) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <table class="circle" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width: 83px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;background-color: #f9f9f9;border: none;border-bottom: none;vertical-align: middle;width: 83px;height: 83px;text-align: center;background: url(images/Layer-220.png) 0 0 no-repeat;"><img src="./images/expense.png" height="36" width="26" alt="" style="display: inline-block;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <div class="table-box__title" style="font-size: 20px;color: #000;padding-top: 8px;">Bank receipt</div>
                                                <p style="margin: 0 0 8px 0;line-height: 18px;">Payment of the order by receipt in any of the banks of your city</p>
                                                <div class="table-box__opt" style="color: #08b16c;">Commission from 1.2%</div>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                {{ macro.btn({
                                                    class: 'btn-info btn-md',
                                                    width: '165px',
                                                    text: 'Download'
                                                }) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <table class="circle" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;width: 83px;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 0;background-color: #f9f9f9;border: none;border-bottom: none;vertical-align: middle;width: 83px;height: 83px;text-align: center;background: url(images/Layer-220.png) 0 0 no-repeat;"><img src="./images/cashback.svg" height="34" width="34" alt="" style="display: inline-block;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                <div class="table-box__title" style="font-size: 20px;color: #000;padding-top: 8px;">Make a loan</div>
                                                <p style="margin: 0 0 8px 0;line-height: 18px;">Targeted loan is provided by the "PAYLATE - Trusted Payment" service, for all purchases from 3,000 to 150,000 </p>
                                                <div class="table-box__opt" style="color: #08b16c;">Rate from 1.9% per month</div>
                                            </td>
                                            <td style="padding: 15px 20px;background-color: #f9f9f9;border: none;border-bottom: 1px solid #e5e3e3;">
                                                {{ macro.btn({
                                                    class: 'btn-info btn-md',
                                                    width: '165px',
                                                    text: 'Checkout'
                                                }) }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{ macro.space('30') }}
                                <span><b>Check out our <a href="#" style="text-decoration: underline;color: #50c0f0;">Facebook community</a> where we're always in touch!</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
