{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <h1 class="h1">Registration successfully completed!</h1>
                <p>Congratulations! Your account has been successfully created.</p>
                {{ macro.btn({
                    align: 'left',
                    class: 'btn-info',
                    width: '251px',
                    text: 'Confirm registration'
                }) }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
