{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <p>Уважаемый, покупатель!</p>
                <p>Курьер с вашим заказом уже в пути. Номер заказа: <b class="color-dark">7892</b></p>
                <p>Имя курьера: <b class="color-dark">Николай Светлаков</b></p>
                <p>Телефон: <a href="tel:+79619001212">+7 961 900-12-12</a></p>
                <br />
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 266px;">
                    <tbody>
                        <tr>
                            <td align="center"><img src="images/courier.svg" height="230" width="230"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p>С вами свяжутся за час до доставки, ожидайте. </p>
                <p>При общении с курьером, сообщите пожалуйста номер вашего заказа.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
