{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <p>Dear customer!</p>
                <p>A courier with your order is on its way. Order number: <b class="color-dark">7892</b></p>
                <p>Courier's name: <b class="color-dark">Simon Millus</b></p>
                <p>Phone: <a href="tel:+19619001212">+1 961 900-12-12</a></p>
                <br />
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 266px;">
                    <tbody>
                        <tr>
                            <td align="center"><img src="images/courier.svg" height="230" width="230"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p>You will be contacted an hour before delivery, expect. </p>
                <p>When communicating with the courier, please provide your order number.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
