{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content" bgcolor="#fff">
    <tbody>
        <tr>
            <td>
                <p>Уважаемый, покупатель!
                    <br />К сожалению, мы не смогли к Вам дозвониться для подтверждения заказа!</p>
                <p>Возможно, вы ошиблись при вводе номера вашего телефона. При оформлении заказа был указан:</p>
                <b class="color-black"> <a class="phone-link color-black" href="tel:+79238763434">+7 923 876-34-34</a></b>
                <br />
                <br />
                <b class="color-black lead">№ заказа: 125896</b>
                <br />
                <br />
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 266px;">
                    <tbody>
                        <tr>
                            <td align="center" style="vertical-align: middle;width: 266px;height: 266px;text-align: center;background: url(images/circle-lg.png) center no-repeat;"><img src="images/phone-lg.png" height="138" width="101"></td>
                        </tr>
                    </tbody>
                </table>
                <p>Перезвоните пожалуйста к нам в офис:</p>
                <b>
                    <a class="color-black" href="tel:+74993720483">+7 (499) 372-04-83</a> <br />
                    <a class="color-black" href="tel:88007753548">8 (800) 775-35-48</a>
                </b>
                <br />
                <br />
                <p>При общении с менеджером, сообщите пожалуйста номер вашего заказа.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
