{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <p>Уважаемый, покупатель!</p>
                <p>Ваш заказ <b style="color: #000;font-size: 16px;">№ 125896</b> отменен.</p>
                <br />
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 266px;">
                    <tbody>
                        <tr>
                            <td align="center" style="vertical-align: middle; width: 266px; height: 266px; padding: 0; background: url(images/circle-lg.png) 0 0 no-repeat;"><img src="images/cancel-lg.png" height="193" width="193"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p>Если отмена заказа произошла по ошибке или у вас остались вопросы, позвоните пожалуйста к нам в офис:</p>
                <b>
                    <a class="color-black" href="tel:+74993720483">+7 (499) 372-04-83</a> <br />
                    <a class="color-black" href="tel:88007753548">8 (800) 775-35-48</a>
                </b>
                <br />
                <br />
                <p>При общении с менеджером, сообщите пожалуйста номер вашего заказа.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
