{% extends "default.html" %}  {% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="content">
    <tbody>
        <tr>
            <td>
                <p>Dear customer!</p>
                <p>Your order is complete. Thank you for being with us.</p>
                <br />
                <b class="lead color-dark">Order no: 125896</b>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 266px;">
                    <tbody>
                        <tr>
                            <td align="center" style="vertical-align: middle;width: 266px;height: 266px;background: url(images/circle-lg.png) 0 0 no-repeat;"><img src="images/check-lg.png" height="124" width="168"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p>If you have any questions, please call our office:</p>
                <b>
                        <a class="color-black" href="tel:+14993720483">+1 (499) 372-04-83</a> <br />
                        <a class="color-black" href="tel:88007753548">8 (800) 775-35-48</a>
                    </b>
                <br />
                <br />
                <p>When communicating with the manager, please provide your order number.</p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
