// variables

$font-size-md: 16px;

$color-gray: #7f8090;
$color-blue: #007acf;
$color-link: #05a6f2;
$color-default: #000;

$border-color: #d0d6dc;
$border-color: #dbdbdb;

// $color: #425072;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;

$container-xs: 400px;
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1030px;

$container-padder: 30px;

$grid-gutter-width: 24px;