body, td, p, span, div, a {
    font-family: arial;
    font-size: 14px;
    color: $color-gray;
}


table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

a {
    color: $color-link;
    text-decoration: none;
}

p {
    margin: 0 0 16px 0;
    line-height: 24px;
}
.lead {
    font-size: 18px;
}

.arial {
    font-family: arial;
}


.strong {
    color: #151734;
}

.h1 {
    display: block;
    font-size: 23px;
    color: #151734;
    margin-bottom: 12px;
}

.color-default {
    color: $color-default;
}
.color-gray {
    color: $color-gray;
}
.color-black {
    color: #000;
}
.color-dark {
    color: #151734;
}
.color-blue {
    color: #007acf;
}

.text-center {
    text-align: center;
}

.border {
    border: 1px solid #e0dddd;
}
.border-bottom {
    border-bottom: 1px solid #e0dddd;
}