<p class="color-black">Интернет-магазин детских товаров "Все Для Крохи"</p>
<p><a href="http://www.vsekroham.ru/">www.vsekroham.ru</a></p>
<p>
    <span class="color-black"><a style="color: #151734;" target="_blank" value="+74996452353" href="tel:%2B7%20%28499%29%20645-23-53">+7 (499) 645-23-53</a> (Многоканальный)</span>
    <br />
    <span class="color-black">8 <a style="color: #151734;" target="_blank" value="+18006452353" href="tel:%28800%29%20645-23-53">(800) 645-23-53</a> (Звонок бесплатный)</span></p>
<p class="color-gray">Вам пришло это письмо, потому что вы совершили заказ в магазине "Всё для Крохи".</p>