<p class="color-black">Online store of children's goods "BabyMarket"</p>
<p><a href="http://www.babymarket.com/">www.babymarket.com</a></p>
<p>
    <span class="color-black"><a style="color: #151734;" target="_blank" value="+74993720483" href="tel:+74993720483">+1 (499) 372-04-83</a> (Multichannel)</span>
    <br />
    <span class="color-black">8 <a style="color: #151734;" target="_blank" value="88007753548" href="tel:88007753548">8 (800) 775-35-48</a> (The call is free)</span></p>
<p class="color-gray">You have received this email because you placed an order at Everything for Tiny.</p>
