<p class="color-black">Интернет-магазин детских товаров "Все Для Крохи"</p>
<p><a href="http://www.vsekroham.ru/">www.vsekroham.ru</a></p>
<p>
    <span class="color-black"><a style="color: #151734;" target="_blank" value="+74993720483" href="tel:+74993720483">+7 (499) 372-04-83</a> (Многоканальный)</span>
    <br />
    <span class="color-black">8 <a style="color: #151734;" target="_blank" value="88007753548" href="tel:88007753548">8 (800) 775-35-48</a> (Звонок бесплатный)</span></p>
<p class="color-gray">Вам пришло это письмо, потому что вы совершили заказ в магазине "Всё для Крохи".</p>
