<table class="logo" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td align="center">
                <a href="http://www.vsekroham.ru/"><img width="175" height="117" alt="logo" src="images/logo.png"></a>
            </td>
        </tr>
    </tbody>
</table>
<table class="header" cellpadding="0" cellspacing="0" border="0" bgcolor="#05a6f2">
    <tbody>
        <tr>
            <td>
                <span class="header__title">Интернет-магазин «Все&nbsp;для&nbsp;крохи»</span>
            </td>
            <td width="90" align="right">
                <table cellpadding="0" cellspacing="0" border="0" class="socials">
                    <tbody>
                        <tr>
                            <td width="33">
                                <a href="#"><img src="images/social/tw-white.png" alt=""></a>
                            </td>
                            <td width="33">
                                <a href="#"><img src="images/social/fb-white.png" alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
