<table border="0" cellpadding="0" cellspacing="0" class="content">
    <tbody>
        <tr>
            <td class="border-bottom" align="left">
                <img class="logo" width="315" height="67" alt="logo" src="images/logo-1.png">
            </td>
            <td width="180" class="border-bottom socials" align="right">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="#"><img src="images/vk.png" height="33" width="33" alt=""></a>
                            </td>
                            <td>
                                <a href="#"><img src="images/fb.png" alt="" height="33" width="33"></a>
                            </td>
                            <td>
                                <a href="#"><img src="images/in.png" alt="" height="33" width="33"></a>
                            </td>
                            <td>
                                <a href="#"><img src="images/ok.png" alt="" height="33" width="33"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>