{% import "macro.html" as macro %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BabyMarket mail</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body style="margin: 0; padding: 0; background: #e4eec6 url(images/body-bg-croped-min.jpg) repeat;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table bgcolor="#fff" width="740" class="container" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td align="center">
                    {% block header %} {% include "blocks/header-2.html" %} {% endblock %} {% block content %} {% endblock %} {% block footer %} {% include "blocks/footer.html" %} {% endblock %}
                </td>
            </tr>
        </tbody>
    </table>


    <div class="upages">
        <div onclick="document.querySelector('.upages').style.display = 'none'" style="text-align: right; color: #7f8090; font-family: arial; font-size: 14px;">Close</div>
        <a href="add-review.html">add-review</a>
        <a href="order-ok.html">order-ok</a>
        <a href="password-recovery.html">password-recovery</a>
        <a href="password-recovery-ok.html">password-recovery-ok</a>
        <a href="payment-notification.html">payment-notification</a>
        <a href="products.html">products</a>
        <a href="register.html">register</a>
        <a href="sale-kupon-1.html">sale-kupon-1</a>
        <a href="sale-kupon-2.html">sale-kupon-2</a>
        <a href="status-notification-call.html">status-notification-call</a>
        <a href="status-notification-cancel.html">status-notification-cancel</a>
        <a href="status-notification-complete.html">status-notification-complete</a>
        <a href="status-notification-complete-1.html">status-notification-complete-1</a>
        <a href="status-notification-courier.html">status-notification-courier</a>
        <a href="status-notification-transport.html">status-notification-transport</a>
    </div>
</body>

</html>
