{% macro space(height) %}
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td height="{{height}}"></td>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro btn(settings) %}
<table align="{{settings.align or 'center'}}" style="width: {{settings.width or '100%'}}" class="btn {{settings.class}}" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="center" valign="middle">
                <a title="{{settings.text}}" href="#">{{settings.text}}</a>
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}